p
  label(for='person_name') Name:
  input(type='text', id='person_name', name='person[name]', value=person.name)
p
  label(for='person_tagline') Tagline:
  input(type='text', id='person_tagline', name='person[tagline]', value=person.tagline)
p
  input(type='submit')
